#customs {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    background-color: $clearer-gray;
    margin-top: -2rem;
    padding: 2rem 2rem;

    &:after {
    content: "";
    display: block;
    position: absolute;
    height: 23rem;
    width: 100%;
    max-width: 2000px;
    background: inherit;
    transform-origin: bottom right;
    transform: skewY(-6deg);
    z-index: -100;
    }

    &>img {
        width: 20rem;
        margin-right: 30px;
    }
}


#customs_texto {
    padding: 20px;
    padding-left: 28px;
    padding-top: 40px;
    color: $dark-gray;

    &>h2 {
        font-family: Poppins;
        font-weight: normal;
        letter-spacing: 12px;
        font-size: 2rem;
        text-align: center;
        margin-bottom: 20px;
        transform: scale(1, .9)
    }

    &>p {
        text-align: justify;
        line-height: 25px;
        width: 400px;
        font-family: Montserrat;
    }
}



#threeTrains {
    width: 100%;
    margin-top: 14rem;
    margin-bottom: 5rem;
    display: flex;
    justify-items: center;
    flex-direction: column;
    align-items: center;

    @media screen and (max-width: 1024px) {
        margin: 2rem 0;
    }

    &>img {
        width: 60rem;
        margin-bottom: 2rem;
    }
}
