.sidebar {
    position: fixed;
    top: 0;
    right: 0; /* $scrollbar; */

    font-family: "Poppins", sans-serif;

    // width: $sidebar;
    height: 100vh;

    background: black;

    z-index: 17;

    visibility: hidden;

    @media screen and (max-width: 1024px) {
        visibility: visible;
    }

    overflow: hidden;

    &>.content {
        position: absolute;
        top: 0;
        left: 0;

        width: $sidebar;
        height: 100vw;

        padding: 0 2.5rem;
        padding-top: 2rem;

        &>.logo {
            height: 4.5rem;
            margin-top: 3.1rem;
            margin-bottom: 1rem;
        }

        &>.links {
            display: flex;
            align-items: baseline;
            justify-items: baseline;
            flex-direction: column;

            height: 100%;

            &>a {
                font-size: 1.2rem;
                font-weight: 200;
                color: white;
                text-decoration: none;

                white-space: nowrap;

                &:not(:last-child) {
                    margin-bottom: 1rem;
                }
            }
        }
    }
}

.sidebar-switch {
    position: fixed;
    top: 2rem;
    right: 2rem;

    aspect-ratio: 1;
    width: 4rem;

    border-radius: 50%;

    background: black;

    visibility: hidden;


    z-index: 18;

    transition: background 0.2s ease-in-out;

    &::after {
        position: absolute;
        top: 50%;
        left: 50;
        transform: translate(-50%, -50%);

        content: '';
        aspect-ratio: 1;
        width: 1.8rem;

        background: url('@assets/img/menuIcon.svg') center center no-repeat;
        background-size: contain;

        z-index: 19;
    }

    @media screen and (max-width: 1024px) {
        visibility: visible;
    }

    &:hover {
        background: rgb(141, 141, 141);
    }
}

.sidebar-background {
    position: fixed;
    top: 0;
    left: 0;

    width: calc(100vw - #{$scrollbar});
    height: 100vh;

    background: rgba(black, 0.3);

    pointer-events: none;

    z-index: 16;

    visibility: hidden;

    @media screen and (max-width: 1024px) {
        visibility: visible;
    }
}