#clientes {
    width: 100%;
    display: flex;
    justify-items: center;
    flex-direction: column;
    align-items: center;
    margin-top: 110px;
}

#clientes h5 {
    font-size: 40px;
    color: #bebebe;
    font-family: Montserrat;
    margin-bottom: 50px;
    letter-spacing: 15px;
    font-weight: lighter;
}

#clientes img {
    width: 600px;
}

#bottom {
    width: 100%;
    display: block;
}