#clients {
    width: 100%;
    display: flex;
    justify-items: center;
    flex-direction: column;
    align-items: center;
}

#clients h5 {
    font-size: 40px;
    color: #bebebe;
    font-family: Montserrat;
    margin-bottom: 2rem;
    letter-spacing: 15px;
    font-weight: lighter;
}

#clients img {
    width: 600px;
}

#bottom {
    width: 100%;
    display: block;
}