.about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;


    color: white;
    background: $color-primary;

    &>.description {
        position: relative;
        padding: 5em;
        width: calc(100% - $carousel-width);
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: nowrap;


        @media screen and (max-width: 1024px) {
            width: 100%
        }

        &>.title {
            position: absolute;
            top: 0rem;
            right: 2rem;

            color: $color-light;
            font-size: 2.5rem;
            font-weight: 500;

            text-align: center;
            letter-spacing: 0.75em;
            white-space: nowrap;

            @media screen and (max-width: 1024px) {
                position: relative;
                top: unset;
                right: unset;

                white-space: unset;

                margin-bottom: 2rem;
            }
        }

        &>p {
            font-family: Poppins, sans-serif;
            font-size: 16px;
            font-weight: 200;

            text-align: justify;
            margin-bottom: 1.5rem;

            /* padding-top: 1rem; */
        }
    }
}